@{
    Layout = "";
}
<html>

<head>
    <title>Votação para presidente</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="/css/fab.css">
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="/lib/jspanel/jspanel.min.css">
    <link rel="stylesheet" href="/lib/confirm-jquery/jquery-confirm.min.css">
    <link rel="stylesheet" href="/css/principal.css">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/fab.js"></script>
    <script src="/lib/toastr/toastr.min.js"></script>
    <script src="/lib/toastr/factory.js"></script>
    <script src="/lib/jspanel/jspanel.min.js"></script>
    <script src="/lib/confirm-jquery/jquery-confirm.min.js"></script>
    <script src="/js/UrnControll.js"></script>
</head>

<body style="user-select: none;">
    <div class="m-auto" style="max-width: 950px; margin-top: 3rem !important">
        <div class="d-flex m-auto px-5 py-4"
             style="max-width: 61rem;width: fit-content;flex-wrap: wrap;min-width: min-content;border: solid 1px;border-radius: 2rem;background: #fff5e1;">
            <div style="max-width: 30rem;min-width: 30rem;height: 27rem;font-size: 1.6rem;" class="w-100 p-2 m-auto">
                <div id="Display" style="border: solid 2px;font-weight: 600;border-radius: 0.2rem;background: #ddffdd;"
                     class="w-100 h-100">
                    <div class="row mx-2">SEU VOTO PARA</div>
                    <div class="row mx-2" style="font-size: 2rem;">
                        <span class="m-auto" style="width: fit-content;">PRESIDENTE</span>
                    </div>

                    <div class="row mx-2 d-flex" style="">
                        <span style="width: fit-content;"
                              class="mt-5">Número: </span><span id="CandidateNumber" style="width: fit-content;font-size: 4rem;"></span>
                    </div>
                    <div class="row mt-2 mx-2 d-flex" style="">
                        <span style="width: fit-content;" class="candidate-attribute">Nome:</span><span style="width: fit-content;" id="CandidateName"></span>
                    </div>
                    <div class="row mt-2 mx-2 d-flex" style="">
                        <span style="width: fit-content;">Vice:</span>
                        <span style="width: fit-content;" id="CandidateVice" class="candidate-attribute"></span>
                    </div>
                    <div class="row mt-2 mx-2 d-flex" style="">
                        <span style="width: fit-content;">Partido:</span>
                        <span style="width: fit-content;" id="CandidateAffiliation" class="candidate-attribute"></span>
                    </div>
                    <div style="font-size: 1rem;border-top: 2px black solid;" class="p-2">
                        <p class="mb-1">aperte a tecla:</p>
                        <p class="mb-1">VERDE para CONFIRMAR</p>
                        <p class="mb-1">LARANJA para CORRIGIR</p>
                    </div>
                </div>
            </div>
            <div class="m-auto">
                <div class="row mb-1 mx-0 d-flex"
                     style="border: solid 3px #00000069;border-radius: 0.3rem;background: #bbbbbb;height: 4.5rem;">
                    <img src="/Logo.png" style="width: 6rem;height: 4rem;">
                    <div class="col-8 m-auto" style="text-align: center;font-weight: 600;font-size: 1.4rem;">
                        <p style="margin: 0;">JUSTIÇA </p>
                        <p style="margin: 0;">ELEITORAL</p>
                    </div>
                </div>
                <div style="background: #181c24;border-radius: 0.3rem;" id="Pad" class="m-auto py-3">
                    <div class="row d-flex mx-2" style="justify-content: center;">
                        <span class="button-number">1</span>
                        <span class="button-number mx-5">2</span>
                        <span class="button-number">3</span>
                    </div>
                    <div class="row d-flex mx-2 mt-3" style="justify-content: center;">
                        <span class="button-number">4</span>
                        <span class="button-number mx-5">5</span>
                        <span class="button-number">6</span>
                    </div>
                    <div class="row d-flex mx-2 mt-3" style="justify-content: center;">
                        <span class="button-number">7</span>
                        <span class="button-number mx-5">8</span>
                        <span class="button-number">9</span>
                    </div>
                    <div class="row d-flex mx-2 mt-3" style="justify-content: center;">
                        <span class="button-number">0</span>
                    </div>
                    <div class="row d-flex mt-3 mx-2" style="justify-content: center;">
                        <span class="button-text button-branco">BRANCO</span>
                        <span class="button-text mx-2 button-corrige">CORRIGE</span>
                        <span class="button-text button-confirma">CONFIRMA</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="fab">
            <button class="main">
                <i class="fas fa-bars"></i>
            </button>
            <ul style="color: white;">
                <li>
                    <label>Lista de candidatos</label>
                    <a id="ShowCandidateList"><i class="fas fa-list"></i></a>
                </li>
                <li>
                    <label>Resultados da votação</label>
                    <a id="RatingResults" href="/Eleicao/Relatorio"><i class="fas fa-chart-pie"></i></a>
                </li>
                <li>
                    <label>Gerenciar candidatos</label>
                    <a id="ManagerCandidates" href="/Eleicao/GerenciarCandidatos"><i class="fas fa-users"></i></a>
                </li>
            </ul>
        </div>

        <script>
        new UrnControll('@ViewBag.ApiUrl').Init();
        </script>
</body>
</html>