body{
    font-family: sans-serif;
  }
  
  .fab{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }

  .rotate-180{
    transform: rotate(180deg);
  }

  .fab button, .fab a{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #cb60b3;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }

    .fab a i {
        padding: 12px 0px 0px 12px;
    }

  .fab button:focus{
    outline: none;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #5b19b7;
    right: 0;
    bottom: 0;
    z-index: 20;
  }
    
  .fab ul{
    position:absolute;
    bottom: 0;
    right: 0;
    padding:0;
    padding-right:5px;
    margin:0;
    list-style:none;
    z-index:10;
    
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab ul li{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;
    justify-content: flex-end;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
    height: 3rem;
  }
  
  .fab ul li label{
    white-space: nowrap;
    display: block;
    margin-top: 5px;
    margin-right: 0.5rem;
    padding: 5px 8px;
    background-color: #ec93d8;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 1rem;
    height: 2.3rem;
    font-size: 1.5rem;
    pointer-events: none;
    opacity: 0;
    border: solid 1px #904880;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab.show button.main,
  .fab.show button.main{
    outline: none;
    background-color: #7716ff;
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
   }
   
  
  .fab.show button.main + ul,
  .fab.show button.main + ul{
    bottom: 70px;
  }
  
  .fab.show button.main + ul li,
  .fab.show button.main + ul li{
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .fab.show button.main + ul li:hover label,
  .fab.show button.main + ul li:hover label{
    opacity: 1;
  }